body {
  width: 250px;
  height: 300px;
  font-family: spinnaker;
  background-color: #2D2F30;
  color: #ffffff;
}

#websiteInfo {
  box-shadow: 1px, 1px, 1px, 1px;
  padding: 10px;
  margin-bottom: 10px;
  position: inherit;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: gray;
  width: 100%;
}

#logo {
  height: 32px;
  margin-right: 10px;
  float: left;
  border-radius: 50%;
  background-color:#2D2F30;
}

#status {
  width: 98%;
  position: inherit;
}

h5 {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
  color: #ffffff;
}

@font-face {
    font-family: spinnaker;
    src: url("fonts/Spinnaker.ttf");
}

.backgroundSetColor {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.colorLabel {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  position: inherit;;
  text-decoration: underline;
}

.colorInput {
  position: absolute;
  /*float: right;*/
  opacity: 0;
}
.numberInput {
  margin-left: 10px;
  width: 32px;
}

.cancelButton {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: spinnaker;
  font-size: 15px;
  color: white;
  background-color: #E84C3D;
  border-style: none;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: all .5s;
}
.cancelButton:hover {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.8);
  padding-bottom: 6px;
  padding-top: 4px;
  transition: all .5s;
}

.visitWebsite {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: spinnaker;
  font-size: 15px;
  color: white;
  background-color: #2D2F30;
  border-style: none;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: all .5s;
}
.visitWebsite:hover {
  background-color: #93C47D;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.8);
  padding-bottom: 6px;
  padding-top: 4px;
  transition: all .5s;
}
